<h1>Hero's</h1>
<hr>

<div class="row">
    <div class="col-12 text-right mb-4">
        <button [routerLink]="['/heroe','nuevo']" type="button" class="btn btn-outline-primary">
            New Hero
        </button>
    </div>
</div>
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Home</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Wolverine</td>
                        <td>Marvel</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>